<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<%= form_for(@food_truck) do |f| %>
  <% if @food_truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_truck.errors.count, "error") %> prohibited this food_truck from being saved:</h2>

      <ul>
      <% @food_truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.label :name ,"餐車名稱: "%>
    <%= f.text_field :name ,:class => "form-control"%>
  </div>
  <div>
    <%= f.label :email,"使用者Email: " %>
    <%= f.text_field :email, :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude , :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude , :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.file_field :picture %><br>
    <%= check_box_tag "_remove_picture","1"%> Remove Picture
  </div>


   <td> <%= f.submit  "新增檔案", :class =>"btn btn-primary"%></td>

<% end %>






