<div id="map" style="height:600px;"></div>
<div id="append"></div>
  <script type="text/javascript">

    var map;
    var Taipei = {lat: 25.0638929, lng: 121.547199};
    
    var current_pos;
    var contentString;
    var food_truck_infowindow;

    function initMap() {

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13
      });

      var truck_image = { 
        url: '<%= asset_path('Food Truck.png') %>'
      };

      var marker = new google.maps.Marker({
      });


      food_truck_infowindow = new google.maps.InfoWindow({
      });

      // Try HTML5 geolocation.

      if (navigator.geolocation) {

        var options = {frequency: 1000};

        navigator.geolocation.watchPosition( function(position) {

          current_pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          current_pos_for_rails = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
          }

          marker.setOptions({
            map: map,
            icon: truck_image,
            position: current_pos
          });

          food_truck_infowindow.setOptions({
            map: map,
            position: current_pos,
            pixelOffset: new google.maps.Size(10, -40)
          });

          food_truck_infowindow.setContent('You R Here.');
          
          map.setCenter(current_pos);

          $.ajax({
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            type: "POST",

            //url:"http://localhost:3000<%=location_upload_food_truck_path%>",
            url:"http://www.foodber.space/<%=location_upload_food_truck_path%>"
            
            data: { food_truck: current_pos_for_rails },// product: { name: "Filip", description: "whatever" }

            success: function(data, textStatus, jqXHR) {
            },
            error: function(jqXHR, textStatus, errorThrown) {
              alert("Error=" + errorThrown);
            }
          });

        }, function(){
         handleLocationError(true, food_truck_infowindow, map.getCenter());
        });
      } 
      else{
        // Browser doesn't support Geolocation
        handleLocationError(false, food_truck_infowindow, map.getCenter());
      }

    }

  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?region=cn&language=zh-TW&key=AIzaSyDDHzZHU1KEDq_t_rClDOTK7YEWHU1FloE&callback=initMap">
</script>

<script>
refreshInterval = setInterval(function() { 
  $.ajax({
   type: "POST",
   
   //url: "http://localhost:3000<%=get_order_food_truck_path%>",
   url: "http://www.foodber.space<%=get_order_food_truck_path%>",

   success: function(data){
      if( data['get_order'] == '1' ){
        console.log(data)
        $("#append").append("<b>Appended text</b>.");
        clearInterval(refreshInterval);
     }
   }
 });
}, 3000);
</script>