
  <h1>Foodber</h1>

  <p><%= image_tag "logo.png", size: "1100x600" %></p>

  <!-- ================================================= Google Map =================================================  -->

  <div id="map" style="height:450px;"></div>
  <script type="text/javascript">

    var map;
    var Taipei = {lat: 25.0638929, lng: 121.547199};

    function initMap() {

      map = new google.maps.Map(document.getElementById('map'), {
        center: Taipei,
        zoom: 13
      });

      var truck_image = {
        url: '<%= asset_path('Food Truck.png') %>'
      };

      $.ajax({

        type: "GET",

        url:"<%= root_url %>food_trucks.json",

        success: function(data, textStatus, jqXHR) {

          for (var i = 0; i < data.length; i++) {
            console.log( i )
            var current_position = { lat: data[i].latitude, lng: data[i].longitude };

            var marker = new google.maps.Marker({

              position: current_position,
              map: map,
              icon: truck_image
            });

            var food_truck_infowindow = new google.maps.InfoWindow({
              pixelOffset: new google.maps.Size(10, 0),
              content: data[i].name
            });

            food_truck_infowindow.open(map, marker);

            attachInstructionText( food_truck_infowindow, marker, data[i].name, map, current_position );

          }

        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert("Error=" + errorThrown);
        }
      });
}

function attachInstructionText(stepDisplay, marker, text, map, position) {
  google.maps.event.addListener(marker, 'click', function() {

    stepDisplay.setContent(text);
    stepDisplay.open(map, marker);
        //map.setCenter( position );
      });
}

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?region=cn&language=zh-TW&key=AIzaSyDDHzZHU1KEDq_t_rClDOTK7YEWHU1FloE&callback=initMap">
</script>
<!-- ================================================= Google Map End ================================================= -->

<table class="table">

  <tr>
    <td>餐車名稱</td>
    <td>Latitude</td>
    <td>Longitude</td>
    <td>餐車圖片</td>
    <td>餐車餐點詳細內容</td>
    <td>其他功能</td>
  </tr>


  <tr>
    <% if current_user %>
    <% @food_trucks.each do |f| %>

    <td><%= f.name %></td>
    <td><%= f.latitude %></td>
    <td><%= f.longitude %></td>
    <td>
      <% if f.picture.exists? %>
      <%= image_tag(f.picture.url(:medium))%>
      <% else %>
      None
      <% end %>
    </td>
    <td><%= link_to '更多詳情', food_truck_foods_path(f)%></td>
    <td><%= link_to 'Show', food_truck_path(f) , :class=> "btn btn-primary"%></td>
    <td><%= link_to 'Edit', edit_food_truck_path(f), :class=> "btn btn-default" %></td>
    <% if current_user.email == 'wei1208@livemail.tw'|| current_user.email =='milemaple2158@yahoo.com.tw'%>
      <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %></td>
    <% end %>
    <% if current_user.email == f.email %>
      <td><%= link_to 'Open', driver_food_truck_path(f) , :class=> "btn btn-primary", 'data-no-turbolink' => true %></td>
    <% end %>
  </tr>

  <% end %><!-- End Each-->

</table>

<br>

<% if current_user.email == 'wei1208@livemail.tw'|| current_user.email =='milemaple2158@yahoo.com.tw' %>
<p><%= link_to '新增餐車', new_food_truck_path,:class=>"btn btn-primary" %></p>
<% end %>

<ul class="pagination">

  <li>
    <a href="<%=paginate @food_trucks %>"></a>
  </li>

</ul>

<%= paginate @food_trucks %>
<% end %> <!-- End current_ -->
