<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_truck.name %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @food_truck.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @food_truck.latitude %>
</p>
<p>
  <% if @food_truck.picture.exists? %>
    <%= image_tag(@food_truck.picture.url)%>
  <% else %>
    None
  <% end %>
</p>

<td><%= link_to 'Edit', edit_food_truck_path(@food_truck) , :class =>"btn btn-primary"%></td>
<td><%= link_to 'Back', food_trucks_path , :class =>"btn btn-primary"%></td>
