<!DOCTYPE html>
<html>
<head>
	<title>Foodber</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">

	<ul class="nav nav-pills">
		<% if current_user %>
		<li><a><%= current_user.name %>,您好</a></li>
		<li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
		
		<!-- <li><a href="https://www.facebook.com/logout.php?access_token=<%= current_user.fb_token %>&confirm=1&next=http://localhost:3000/">FB登出</a> -->
		
		<li><a href="https://www.facebook.com/logout.php?access_token=<%= current_user.fb_token %>&confirm=1&next=http://www.foodber.space/">FB登出</a>

		</li>
			<!--
			<li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
		-->
		<% else %>
			<!--
			<li><%= link_to('註冊', new_registration_path(:user)) %></li>
			<li><%= link_to('登入', new_session_path(:user)) %></li>
		-->
		<li>
			<%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook) %>
		</li>
		<% end %>
	</ul>

	<%= yield %>

</div>

</body>
</html>
